<%- include('partials/header') %>
<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">All of my private secrets:</h1>
    <ul>
      <% if (locals.secrets) { %>
      <%secrets.forEach((secret) => { %>
      <li class="secret-text"><%= secret %></li>
      <% }) %>
      <% } %>
    </ul>
    <hr>

    <form action="/secrets" method="POST">
    </form>
    <a class="btn btn-light btn-lg" href="/submit" role="button">Submit a new secret</a>
    <a class="btn btn-light btn-lg" href="/allPublicSecrets" role="button">All Public Secrets</a>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>



  </div>
</div>

<%- include('partials/footer') %>